body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: Arial, sans-serif;
}

.container {
  background-color: rgb(46, 45, 45);
  padding: 20px 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.time {
  font-size: 3rem;
  color: rgb(176, 174, 174);
  margin: 0;
}
